* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #373b44;
  color: white;
  padding: 1.5rem 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-logo {
  font-style: italic;
  font-weight: bold;
  font-size: 1.1rem;
}

.nav-logo span {
  color: aqua;
}

.nav-list ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

.nav-list ul li {
  font-size: 1.05rem;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.nav-list ul li:hover {
  color: #b9b9b9;
}

.nav-list ul li a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease-out;
}

.nav-list ul li a:hover {
  color: #b9b9b9;
}

.nav-hamburger {
  cursor: pointer;
  align-items: center;
  flex-direction: column;
  gap: 0.2rem;
  display: none;
}

.nav-hamburger span {
  width: 25px;
  height: 2px;
  background-color: #fff;
}

main {
  background-color: #282c34;
  color: #000;
  padding: 6.5rem 0;
  min-height: 100vh;
}

.search-movie input {
  width: 50%;
  padding: 0.8rem;
  margin: 0 0 2rem 0;
}

.search-movie button {
  display: none;
  cursor: pointer;
  color: #fff;
  padding: 0.9rem 1.2rem;
  margin-left: -0.1rem;
  border: transparent;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: rgb(34, 67, 252);
  transition: all 0.3s ease-out;
}

.search-movie button:hover {
  background-color: rgb(4, 187, 187);
}

.movie-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.movie-header {
  width: 100%;
  font-size: 2rem;
  margin-bottom: 0.3rem;
  color: #fff;
}

.movie-pagination {
  width: 100%;
  margin: 0.8rem 0 1.2rem;
}

.movie-pagination button {
  padding: 0.3rem 0.6rem;
  margin: 0 0.35rem;
  color: #fff;
  border-radius: 8px;
  border: transparent;
  background-color: transparent;
  transition: all 0.3s ease-out;
}

.movie-pagination button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.movie-pagination button.active {
  background-color: rgba(255, 255, 255, 0.2);
}

.movie-pagination label {
  color: #ffff;
}

.movie-pagination input {
  padding: 0.2rem 0.5rem;
  margin-bottom: 0.6rem;
  -moz-appearance: textfield;
}

.movie-wrapper {
  width: 25%;
  height: 750px;
  background-color: antiquewhite;
}

.movie-none h1 {
  padding: 2rem 0;
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
}

.movie-wrapper .movie-name {
  height: 4rem;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-wrapper .movie-image {
  width: 100%;
  height: 450px;
  margin-bottom: 0.5rem;
}

.movie-wrapper .movie-date {
  font-size: 1.05rem;
  font-style: italic;
  margin-bottom: 0.3rem;
}

.movie-wrapper .movie-rate {
  color: red;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.movie-wrapper .movie-preview {
  font-size: 1.05rem;
  padding: 0 0.2rem;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media screen and (max-width: 992px) {
  .movie-wrapper {
    width: 48%;
  }

  .search-movie input {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .nav-list {
    padding: 5rem 0;
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    background-color: #373b44;
    transform: translateX(180%);
    transition: all 0.5s ease-out;
  }

  .nav-list.hidden {
    transform: translateX(0);
  }

  .nav-list ul {
    flex-direction: column;
    gap: 2.5rem;
  }

  .nav-list ul li {
    width: 100%;
    padding: 0.5rem 0;
    font-size: 1.25rem;
    letter-spacing: 2px;
    border-bottom: 1px solid #fff;
  }

  .nav-hamburger {
    display: flex;
    z-index: 9999;
  }
}
